#ajulMetaboxHeader {
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#destinationList {
    list-style: none;
}

#destinationList .destinationItem {
    border: 1px solid #0074a2;
}

#destinationList h3 {
    background-color: #0074a2;
    color: #ffffff;
}

#destinationList .content,
#destinationList .page {
    padding: 10px;
}

#destinationList .page {
    border-top: 1px solid #cdcdcd;
}

#destinationFormDialog {
    overflow: hidden;
}

#destinationFormDialog form label {
    display: block;
}

#destinationFormDialog form .field {
    margin-bottom: 20px;
}

#destinationFormDialog form .help {
    color: #666666;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 5px;
    margin-top: 2px;
}

#destinationFormDialog form input,
#destinationFormDialog form select,
#destinationFormDialog form textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

#destinationFormDialog form textarea {
    min-height: 120px;
}