#ajulMetaboxHeader {
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#destinationList {
    list-style: none;
}

#destinationList .destinationItem {
    border: 1px solid #0074a2;
}

#destinationList header {
    position: relative;
}

#destinationList header h3 {
    background-color: #0074a2;
    color: #ffffff;
    padding: 8px 85px 8px 12px;
}

#destinationList header ul.links {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 9px;
    top: 8px;
}

#destinationList header ul.links li {
    color: #ffffff;
    display: inline;
    margin: 0;
    padding: 0;
}

#destinationList header ul.links li:before {
    content: " | ";
}

#destinationList header ul.links li:first-child:before {
    content: none;
}

#destinationList header ul.links a {
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
}

#destinationList header a {
    text-decoration: none;
}

#destinationList header a:hover {
    text-decoration: underline;
}

#destinationList .content,
#destinationList .page {
    padding: 10px;
}

#destinationList .page {
    border-top: 1px solid #cdcdcd;
}

#destinationFormDialog {
    overflow: hidden;
}

#destinationFormDialog form label {
    display: block;
}

#destinationFormDialog form .field {
    margin-bottom: 20px;
}

#destinationFormDialog form .help {
    color: #666666;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 5px;
    margin-top: 2px;
}

#destinationFormDialog form input,
#destinationFormDialog form select,
#destinationFormDialog form textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

#destinationFormDialog form textarea {
    min-height: 120px;
}